<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Shortened Url</h2>
    <ul>
      <% for (key in urlDatabase) { %>
        <div>
        <%= key %> ---> <a href="<%= urlDatabase[key]%>"><%= urlDatabase[key] %></a>
          <a href="/urls/<%= key %>">Edit</a>
          <form method="POST" action="/urls/<%= key %>?_method=DELETE"><button type="summit">delete</button>
          </form>
        </div>
      <% }; %>
    </ul>
    <p>did it update?</p>

</body>
</html>
