<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Shortened Url</h2>
    <ul>
      <% database.forEach(function(obj) { %>
        <div>
          <%= obj.shortURL %> ---> <a href="<%= obj.longURL%>"><%= obj.longURL %></a>
            <a href="/urls/<%= obj.shortURL %>">Edit</a>
            <form method="POST" action="/urls/<%= obj.shortURL %>?_method=DELETE"><button type="summit">delete</button>
            </form>
        </div>
      <% }); %>
    </ul>

</body>
</html>
